@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.connectedWallet {
  width: 500px;
}

.walletHeader {
  display: flex;
}
.metaMaskLogo {
  position: relative;
  width: 40px;
  height: 40px;
  top: 50px;
}
.walletAddress {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  top: 50px;
  left: 5px;
  font-size: 17px;
  font-weight: bold;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.walletAddress:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.metaMaskLogout {
  position: relative;
  cursor: pointer;
  top: 55px;
  left: 7px;
  width: 30px;
  height: 30px;
}

.metaMaskBalance {
  display: flex;
  position: relative;
  width: fit-content;
  left: 15px;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 10px;
  top: 40px;
}
.metaMaskBalance img {
  position: relative;
  top: 3px;
  width: 30px;
  height: 30px;
}
.walletChain {
  position: relative;
  font-weight: bold;
  font-size: 1.3rem;
  left: 3px;
  top: 3px;
}
.walletBalance {
  position: relative;
  top: 5px;
  font-size: 1.2rem;
  left: 8px;
}

.ETHandWETHBalance {
  display: flex;
  position: relative;
  top: 100px;
  justify-content: space-around;
  left: 0px;
}
.ETHBalance {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ETHBalance-p1 {
  font-size: 1.4rem;
  font-weight: bold;
}
.ETHBalance-p2 {
  font-weight: lighter;
  font-size: 1.2rem;
}
.ETHandWETHBalance img {
  position: relative;
  cursor: pointer;
  /* left: 55px; */
  top: 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 10px;
}
.WETHBalance {
  position: relative;
  align-items: center;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  /* left: 120px; */
  display: flex;
  flex-direction: column;
  text-align: center;
}
.WETHBalance-p1 {
  font-size: 1.4rem;
  font-weight: bold;
}
.WETHBalance-p2 {
  font-weight: lighter;
  font-size: 1.2rem;
}

.balanceTransfer {
  position: relative;
  top: 150px;
  height: 200px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  padding: 20px;
}
.WrapAndUnwrap {
  justify-content: space-around;
  display: flex;
}
.WrapAndUnwrap p {
  position: relative;
  font-weight: bold;
  color: grey;
  cursor: pointer;
}
.Wrap.selected::after,
.Unwrap.selected::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Adjust the value to position the line */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black; /* Adjust the line color */
}
.balanceTransfer hr {
  position: relative;
  right: 20px;
  width: 497px;
  opacity: 0.3;
}
.ETHandWETHTransfer {
  display: flex;
  position: relative;
  top: 50px;
}
.ETHandWETHTransfer-p1 {
  position: relative;
  background: none;
  border: none;
  width: max-content;
  left: 200px;
  bottom: 12px;
  font-size: 2rem;
}
.ETHandWETHTransfer-p2 {
  position: relative;
  left: 200px;
  font-size: 1.2rem;
}
.ETHandWETHTransfer button {
  position: absolute;
  left: 420px;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.2);
}

.AddorWithdrawBtn {
  position: relative;
  top: 85px;
  width: 450px;
  font-weight: 600;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #3aafa9;
  color: #ffffff;
  border: none;
  padding: 15px 10px;
  border-radius: 5px;
}
.AddorWithdrawBtn:disabled,
.AddorWithdrawBtn[disabled] {
  background-color: rgba(58, 175, 169, 0.4);
}
