@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.App {
  text-align: center;
}
input{
  cursor: text;
}

/* .App-logo {
  height: 20vmin;
  pointer-events: none;
  border-radius: 20px;
} */
.appLogo{
  display: flex;
  background-color: #0d5366;
  height: 130px;
  width: 300px;
  border-radius: 10px;
}
.logo{
  height: 80px;
  width: 70px;
  margin-top: 10px;
}

/* .title{
  overflow: hidden; 
  white-space: nowrap; 
  margin: 0 auto; 
  font-size: 20pt;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .15em; 
  margin-top: 30px;
  animation: 
    typing 4s steps(60, end)
}
.tagLine{
  overflow: hidden; 
  white-space: nowrap; 
  margin: 0 auto; 
  font-size: 8pt;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .15em; 
  margin-top: 10px;
  animation: 
    typing 4s steps(60, end)
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: fadeIn 5s 
  }
} */
.title {
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  margin: 20px 0 0 0px;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  opacity: 0;
  animation: type 5s steps(60, end) forwards;
  -webkit-user-select: none;
  user-select: none;
  animation-delay: 1s;
}
.tagLine {
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 10px 0 0 0px;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  opacity: 0;
  animation: type 6s steps(60, end) forwards;
  -webkit-user-select: none;
  user-select: none;
  animation-delay: 2s;
}


@media (prefers-reduced-motion: no-preference) {
  .logo{
    animation: fadeIn 5s 
  }
}

.App-header {
  background-color:  #0d5366;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes type {
  0% {
    opacity: 1;
  }
  100% {
    width: 30em;
    opacity: 1;
  }
}



